.partners
  position fixed
  right vw(30)
  top vw(30)
  display flex
  align-items center
  &__item
    &:not(:last-child)
      margin-right vw(25px)
  &__icon
    &--alpengold
      width vw(48)
      height vw(40)
    &--tuc
      width vw(43)
      height vw(40)
    &--dirol
      width vw(50)
      height vw(44)
    &--halls
      width vw(60)
      height vw(20)